<div class="jumbotron vertical-center">
<div class="container">
    <div class="card mx-auto" style="width: 25rem;">
        <img src="assets/cadenas.jpeg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">Vous devez vous connecter!</h5>
            <br>
            <form #authForm="ngForm">
                <div>
                    <input name="username" type="text" placeholder="Nom utilisateur" required ngModel>
                </div>
                <br>
                <div>
                    <input name="password" type="password" placeholder="Mot de passe" required ngModel>
                </div>
                <br><br>
                <button (click)="login(authForm)" [disabled]="!authForm.valid">Se connecter</button> | <button [disabled]="!authForm.valid" (click)="signup(authForm)">S'inscrire </button>
            </form>
        </div>
    </div>
</div>
</div>