<div class="container" *ngFor="let meteo of meteos">
    <h2 class="text-center mb-5 mt-5">{{meteo.nearest_area[0].areaName[0].value}}, ({{meteo.nearest_area[0].country[0].value}})</h2>
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3" >
        <!--Création nouvelle boucle pour éviter de répéter 3 fois le même code pour les 3 jours-->
        <div class="col" *ngFor="let jour of meteo.weather">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title text-center" id="th1">{{jour.date}}</h5> 
                    <br>
                    <p class="card-text mb-4" id="th2">Temp. Moy. :&emsp;<span>{{jour.avgtempC}} °C</span></p>
                    <p class="card-text mb-4" id="th3">Temp. Max. :&emsp;<span>{{jour.maxtempC}} °C</span></p>
                    <p class="card-text mb-4" id="th4">Temp. Min. :&emsp;<span>{{jour.mintempC}} °C</span></p>
                    <p class="card-text mb-4" id="th5">Soleil dans la journée:&emsp;<span>{{jour.sunHour}} H.</span></p>
                </div>
            </div>
        </div>
    </div> 
</div>