h2 {
    text-align: center;
  }
  
  #th1 {
    text-align:center;
    font-size: 5.75em;
    color: rgb(94, 88, 88);
  }
  
  #th2 {
    font-size: 2.25em;
   text-align: center;
  }
  
  #th3 {
    font-size: 2.75em;
    text-align:center;
    color: rgb(94, 88, 88);
  }
  
  #th4 {
    font-size: 1.15em;
    text-align: center;
  }