<div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto" *ngFor="let meteo of meteos">
        <h2 class="mb-5 mt-5">{{meteo.nearest_area[0].areaName[0].value}}, ({{meteo.nearest_area[0].country[0].value}})</h2>
        <div class="card">
          <div class="card-body">
            <p class="card-title" id="th1">{{meteo.current_condition[0].temp_C}} °C</p>
            <p class="card-text" id="th2">T.ressentie: {{meteo.current_condition[0].FeelsLikeC}} °C</p>
            <p class="card-text" id="th3">{{meteo.current_condition[0].weatherDesc[0].value}}</p>
            <hr>
            <p class="card-text" id="th4">Visibilité: {{meteo.current_condition[0].visibility}} Km <span></span></p>
            <p class="card-text" id="th9">Humidité: {{meteo.current_condition[0].humidity}} %</p>
            <p class="card-text" id="th5">Vent: {{meteo.current_condition[0].windspeedKmph}} Km/h</p>
            <p class="card-text" id="th10">Précipitation: {{meteo.current_condition[0].precipMM}} mm</p>
            <p class="card-text" id="th6">Pression: {{meteo.current_condition[0].pressure}} mb</p>
            <p class="card-text" id="th11">Index UV: {{meteo.current_condition[0].uvIndex}}</p>
            <p class="card-text" id="th7">Couverture nuageuse: {{meteo.current_condition[0].cloudcover}}</p>
            <br>
            <p class="card-text" id="th8"><b>{{meteo.current_condition[0].localObsDateTime}} (Dernieres observations)</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>