/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: rgb(53,55,59);
    background: linear-gradient(90deg, rgba(53,55,59,1) 0%, rgba(54,66,113,1) 58%, rgba(98,147,172,1) 100%);
    font-family: 'Montserrat', sans-serif;
}
